#container
{
 width: 500px;
 background-color: red;
 margin: 0px auto;
 height: 500px;
 position: relative;
}

#memoryBoard {
        width:800px;
        height:500px;
        padding:20px;
        background-color:gray;
}

.front {
    height: 45%;
    width: 20%;
    padding: 5px;
    background-color: blue;
    margin: 7px;
    float: right;
  
}
#cardposition
{
        width: 92%;
        height: 500px;
        float: right;
}
/*.back{
    height: 45%;
    width: 20%;
    padding: 5px;
    background-color: red;
    margin: 7px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(-180deg);  
      -webkit-transform: rotateY(-180deg);
      position: absolute;
      top: 0;
      left: 0;
}
     */

.front:click
{
      transform: rotateY(-180deg);  
      -webkit-transform: rotateY(-180deg);
      background-color: green;
}
