.movingblock
{
width: 200px;
height: 200px;
background-color: green;
color: white;
border: 4px solid black;
margin: 100px 0 0 80px;
}
p,h3 {margin: 0; padding: 0;}
        p {height: 150px; width: 200px; border: 1px solid black;}
        h3 {height: 50px; width: 200px; background-color: green; color: yellow; border: 1px solid black;}