#container
{
 width: 500px;
 background-color: red;
 margin: 0px auto;
 height: 500px;
}

#memoryBoard {
        width:800px;
        height:500px;
        padding:20px;
        background-color:gray;
}

.front {
    height: 45%;
    width: 20%;
    padding: 5px;
    background-color: blue;
    float: right;
    margin: 7px;
}
#cardposition
{
        width: 92%;
        height: 500px;
}
#front_info